<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APKInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <APKInstaller.Properties.Settings>
            <setting name="IsOpenApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsOnlyWSA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCloseADB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="ADBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoGetNetAPK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCloseAPP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDialogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAppTheme" serializeAs="String">
                <value>0</value>
            </setting>
        </APKInstaller.Properties.Settings>
    </userSettings>
</configuration>