<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x86</Platform>
    <PublishDir>AppPackages\win-x86</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net4.6.2</TargetFramework>
    <RuntimeIdentifier>win7-x64</RuntimeIdentifier>
    <PublishReadyToRun>true</PublishReadyToRun>
  </PropertyGroup>
</Project>